.cursor {
  color: cyan;
}

.done {
  color: gray;
}

#typing {
  text-align: center;
}

#WPM {
  text-align: center;
}

#restart {
  display: flex;
  align-items: center;
  justify-content: center;
}
