* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
}

.cursor {
  color: orange;
  border-left: 0.1em solid black;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.done {
  color: gray;
}

#typing {
  text-align: justify;
  margin-left: 350px;
  margin-right: 350px;
}

#typing span {
  letter-spacing: 0.5px;
}

#WPM {
  text-align: center;
}

#restart {
  display: flex;
  align-items: center;
  justify-content: center;
}

#restart button {
}
